@mixin mixinimg3105marramalv {
    /*object-fit: scale-down;*/
    width: 100%;
    height: 100%;
    border-radius: 3px solid black;
}
.contenedormarramalv{
    display:grid;
    grid-template-columns: 60vw 25vw 15vw;
    width: 90%;
    margin: 0 auto;
    box-sizing: border-box;
    header{
        grid-column: 1 / 4;
        min-height: 25vh;
        background-color: lightgreen;
        border: 2px solid black;
    }
    main{
        border: 2px solid black;
        background-color: lightgoldenrodyellow;
        min-height: 60vh;
        grid-column: 1 / 2;
    }
    .aside1marramalv{
        border: 2px solid black;
        background-color: purple;
        min-height: 60vh;
        grid-column: 2 / 3;
    }
    .aside2marramalv{
        border: 2px solid black;
        background-color: yellow;
        min-height: 60vh;
        grid-column: 3 / 4;
    }
    footer{
        background-color: blue;
        min-height: 15vh;
        grid-column: 1/4;
    }
    @media (max-width: 630px){
        main{
            grid-column: 1/4;
        }
        .aside1marramalv{
            grid-column: 1/4;
        }
        .aside2marramalv{
            grid-column: 1/4;
        }
    }
    .imagen1marramalv{
        @include mixinimg3105marramalv();
    }
    .imagen2marramalv{
        @include mixinimg3105marramalv();
    }
    
}